@import 'variables';
@import 'mixins';

// Contact Page
section#contact-page { 
    position: relative;
    background-repeat: no-repeat;
    background-image: url(../images/contact-bg.jpg);
    background-position: center bottom;
    overflow: hidden;

    .wrapper {
        padding-bottom: 100px;
        > .heading-1 {
            margin-top: 130px;
            margin-bottom: 20px;
        }
    }

    .input-field {
        > label {
            position: absolute;
            top: 22px;
            left: 40px;
        }
        textarea {
            resize: none;
            height: 190px;
        }
    }

    .info-wrapper {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(255,255,255,0.8);

        .message {
            display: none;
            position: absolute;
            width: 621px;
            height: 301px;
            top: 50%;
            left: 50%;
            margin-left: -310.5px;
            margin-top: -154px;
            text-align: center;
            background-repeat: no-repeat;
            background-image: url(../images/message-box.png);

            .heading-2 {
                font-size: 40px;
                font-weight: 700;
                line-height: 45px;
                text-transform: none;
                color: white;
                margin-top: 160px;
            }

            p {
                font-size: 30px;
                font-weight: 400;
                line-height: 45px;
                color: white;
            }

            &.success {
                background-position: center top;
            }

            &.error, &.errorMail {
                background-position: center bottom;
            }
        }
    }
}

.assist-fields {
    padding-top: 80px;

    .col-md-4 {
        padding: 5px 0;
        text-align: center;
        border-right: 1px solid @orange;

        a {
            font-size: 28px;
            font-weight: 300;
            color: @dark;       

            b {
                font-weight: 500;
                border-bottom: 1px solid @white;
                padding-bottom: 5px;
                .transition(all .5s);
            }

            &:hover {
                b {
                    border-bottom: 1px solid @orange;
                }
            }

            &:focus, &:active {
                text-decoration: none;
            }
        }


        &:last-of-type { border-right: 0; }
    }
}