@import 'variables';
@import 'mixins';

header {
    position: fixed;
    width: 100%;
    height: 105px;
    top: 0; left: 0;
    z-index: 101;
    .transition(all .5s);

    > img, > nav {
        display: inline-block;
        vertical-align: middle;
    }

    img { 
        padding: 16px 0;
        .transition(all .5s);

        &:focus, &:active {
            outline: none;
        }
    }

    .logo-white { opacity: 1; }
    .logo-black { opacity: 0; position: absolute; }

    &.fixed {
        height: 80px;
        background-color: @white;
        .logo-black { opacity: 1; }
        .logo-white { opacity: 0; }

        img {
            width: auto;
            height: 79px;
        }

        nav {
            a, b {
                font-size: 14px;
            }
            a {
                color: @black;
                margin: 30px 17px;
                b { color: @black; }
                &:hover, &:focus, &:active {
                    color: @black;
                }
            }
        }

        .side-dot-navigation { display: block; }
    }
}

// NAVIGATION
nav {
    float: right;
    a {
        display: inline-block;
        vertical-align: middle;
        font-size: 15px;
        line-height: 20px;
        font-weight: 400;
        margin: 43px 17px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: @white;
        b {
            font-size: inherit;
            line-height: inherit;
            font-weight: 700;
            color: @white;
            padding-bottom: 3px;
            border-bottom: 1px solid transparent;
            .transition(.5s);
        }
        &:first-of-type {
            margin-left: 0;
            padding-left: 0;
        }
        &:last-of-type {
            margin-right: 0;
            padding-right: 0;
        }
        &:hover, &:focus, &:active {
            text-decoration: none;
            outline: none;
            color: @white;
            b { border-bottom: 1px solid @orange; }
        }
    }
}

// SIDE DOT NAVIGATION
.side-dot-navigation {
    display: none;
    position: fixed;
    right: 20px;
    top: 50%;
    margin-top: -74px;

    .dot {
        display: block;
        width: 12px;
        height: 12px;
        margin: 20px 5px;
        padding: 2px;
        border-radius: 12px;
        background-color: @orange;
        .transition(all .5s);

        &.active, &:hover {
            box-shadow: 0 0 0 5px @orange;
        }
    }
}