/*
 * Mixins for Nine Pixels Seed
 *
 * Author: Nine Pixels
*/

.transition(@value) {
    -webkit-transition: @value;
    -moz-transition:  @value;
    -o-transition: @value;
    transition: @value;
}

.rotate(@value) {
    -ms-transform: rotate(@value);
    -webkit-transform: rotate(@value);
    transform: rotate(@value);
}

.skewX(@value) {
    -ms-transform: skewX(@value);
    -webkit-transform: skewX(@value);
    transform: skewX(@value);
}