@import 'variables';
@import 'mixins';

.reference-container {
    display: none;
    position: fixed;
    font-size: 0;
    width: 0;
    height: 0;
    z-index: 101;
    background-color: @darker;
    .close {
        display: none;
        position: absolute;
        right: 20px;
        top: 10px;
        font-size: 42px;
        font-weight: 300;
        line-height: 42px;
        color: @orange;
        cursor: pointer;
    }
    .reference-image, .reference-description {
        display: none;
        vertical-align: middle;
        box-sizing: border-box;
        font-size: 0;
    }
    .reference-image { 
        width: 68.5%;
        height: 100%;
        overflow: auto;
        img { width: 100%; }
    }
    .reference-description { 
        width: 31.25%;
        max-height: 100%;
        overflow: auto;
        padding: 60px;
        text-align: center;
        .heading-3 { 
            font-size: 52px;
            font-weight: 700;
            line-height: 60px;
            text-transform: uppercase;
            color: white;
        }
        .heading-4 { 
            font-size: 26px;
            font-weight: 300;
            line-height: 36px;
            margin-top: 10px;
            text-transform: lowercase;
            color: white;
        }
        p {
            font-size: 19px;
            font-weight: 300;
            line-height: 26px;
            color: white;
        }
        b {
            font-size: 19px;
            font-weight: 700;
            line-height: 26px;
            color: white;
        }
        .button { 
            display: inline-block; 
            margin-top: 80px;
        }
        .mobile-header { 
            display: none;
            width: calc(100% - 50px);
            padding: 16px 0px 16px 50px;
            background-repeat: no-repeat;
            background-image: url(../images/mobile-arrow-down.png);
            background-position: left 22px top 22px;
            background-size: 10px auto;
            .transition(.5s);
            > * {
                display: none; 
                font-size: 12px;
                line-height: 18px;
                font-weight: 700;
                color: white;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
            .read-more { 
                display: block;
            }
            &.active {
                background-position: left 22px bottom 22px;
                .read-more { display: none; }
                .read-less { display: block; }
            }
        }
        .ui-effects-wrapper { 
            min-width: 100% !important;
            .reference-description { 
                width: 100% !important;
            }
        }
    }
}