@media only screen and (max-width: 1530px) {
    footer {
        h3 {
            font-size: 25px; line-height: 25px;
            a { font-size: 28px; line-height: 28px; }
        }

    }
}

@media only screen and (max-width: 1380px) {
    .reference-container {
        .reference-image {
            width: 60%;
        }
        .reference-description {
            width: 40%;
        }
    }
}

@media only screen and (max-width: 1220px) {
    footer a { display: block; }
}

@media only screen and (max-width: 1110px) {
    header {
        height: 82px;
        img {
            width: 220px;
        }
        nav {
            a { margin: 31px 17px; }
            a, b { font-size: 12px; }
        }
    }

    h1, h1 > a, .heading-1 {
        font-size: 55px;
        line-height: 70px;
    }

    h2, h2 > a, .heading-2 {
        font-size: 35px;
        line-height: 37px;
    }

    h3, h3 > a, .heading-3 {
        font-size: 45px;
        line-height: 60px;
    }

    h4, h4 > a, .heading-4 {
        font-size: 22px;
        line-height: 42px;
    }

    p {
        font-size: 21px;
        line-height: 31px;
    }

    section#what-we-do article {
        p {
            font-size: 20px;
            line-height: 25px;
        }
    }

    section#quotes {
        .wrapper {
            padding: 30px 0;
        }
        blockquote, q {
            font-size: 31px;
            line-height: 33px;
        }

        p {
            font-size: 21px;
        }
    }

    section#about-us {
        .heading-3 {
            font-size: 35px;
            line-height: 50px;
            margin-bottom: 30px;
            letter-spacing: 13px;
        }
    }
}

@media only screen and (max-width: 1028px) {
    .reference-container {
        .reference-image {
            width: 50%;
        }
        .reference-description {
            width: 50%;
        }
    }
}

@media only screen and (max-width: 991px) {
    .assist-fields {
        .col-md-4 {
            border-right: 0;
        }
    }

    #project-page .form-group {
        margin-top: 30px;
    }

    #project-page .button-group button {
        padding: 15px;
    }
}

@media only screen and (max-width: 880px) {
    header {
        nav {
            display: none !important;
        }
    }
    section#what-we-do .wrapper {
        article {
            width: 50%;
            margin-bottom: 15px;
        }
    }
    section#about-us {
        .two-columns {
            > * {
                width: 100%;
                margin-right: 0;
            }
        }
    }
    section#quotes {
        .wrapper {
            padding: 20px 0;
        }
        blockquote, q {
            font-size: 28px;
            line-height: 32px;
        }

        p {
            font-size: 19px;
        }
    }
    .side-dot-navigation { display: none !important; }

    .reference-container {
        .reference-image {
            width: 100%;
            margin-top: 70px;
        }
        .reference-mobile-header {
            display: block;
        }
    }
}

@media only screen and (max-width: 700px) {
    section#what-we-do .wrapper {
        article {
            width: 90%;
            margin-bottom: 15px;
        }
    }
}

@media only screen and (max-width: 692px) {
    .two-columns {
        > * {
            width: 100%;
            margin-right: 0;
        }
    }

    footer .two-columns .column {
        text-align: center;
    }
}

@media only screen and (max-width: 590px) {
    section#what-we-do {
        article p {
            font-size: 20px;
            line-height: 29px;
        }
    }

    section#how-we-do { 
        .flow-slider .owl-item {
            .flow-label {
                font-size: 43px;
                line-height: 60px;
            }
            .flow-description {
                background: 0 0;
                width: 100%;
                box-sizing: border-box;
                padding: 0 20px 110px;
                margin-left: 0;
                left: 0;
                height: auto;
                min-height: 390px;
                .heading-1 {
                    font-size: 47px;
                }
            }
            .item.first {
                .flow-description .heading-1 {
                    font-size: 36px;
                    line-height: 38px;
                }
            }
        }
    }

    section#our-work {
        .item .description {
            .heading-2 {
                font-size: 32px;
                line-height: 32px;
                margin-bottom: 5px;
            }
            .heading-3 {
                font-size: 22px;
                line-height: 32px;
            }
            button {
                padding: 15px 40px;
                letter-spacing: 0;
            }
        }
    }

    section#about-us {
        .wrapper {
            padding: 95px 0 60px;
        }
        h1, h1+span {
            font-size: 52px;
            line-height: 57px;
        }
        .heading-2 {
            font-size: 30px;
            b { font-size: 34px; }
        }
        .heading-3 {
            font-size: 35px;
            letter-spacing: 6px;
        }
        .two-columns {
            margin-top: 45px;
        }
        p {
            font-size: 20px;
            line-height: 29px;
        }
    }

    section#quotes blockquote, section#quotes q {
        font-size: 22px;
        line-height: 24px;
    }

    h1, h1 > a, .heading-1 {
        font-size: 45px;
        line-height: 60px;
    }

    h2, h2 > a, .heading-2 {
        font-size: 30px;
        line-height: 32px;
    }

    h3, h3 > a, .heading-3 {
        font-size: 40px;
        line-height: 55px;
    }

    section#our-work .wrapper .heading-1,
    section#contact-page .wrapper>.heading-1 {
        font-size: 36px;
        line-height: 50px;
        margin-top: 70px;
        margin-bottom: 0px;
    }

    section#our-work .wrapper .heading-2,
    section#contact-page .wrapper>.heading-2 {
        font-size: 25px;
        line-height: 40px;
    }

    section#cover-page { 
        .cover-pixel {
            width: 480px;
            height: 480px;
            margin-left: -240px;
            svg#weCollect { height: 47px;}
            > b { 
                display: inline-block; 
                font-size: 120px; 
                line-height: 120px; 
            }
            span { 
                font-size: 32px; 
                > b {  font-size: 30px; }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    section#cover-page .cover-pixel {
        width: 400px; 
        height: 400px;
        padding: 95px 56px;
        margin-left: -200px;

        svg#weCollect { margin-left: -52px; height: 40px;}

        > b { font-size: 100px; }

        span { 
            font-size: 25px;
            > b { font-size: 26px; letter-spacing: 3px; }
        }
        img.scroll-animation { bottom: 15px; }
    }

    section#what-we-do article {
        h2 {
            margin-bottom: 22px;
        }
        p {
            font-size: 18px;
        }
    }

    section#how-we-do .flow-slider .owl-item ul li button {
        padding: 15px 45px;
    }

    section#how-we-do { 
        .flow-slider .owl-item {
            .flow-label {
                font-size: 38px;
            }
            ul li {
                font-size: 14px;
                line-height: 25px;
            }
        }
    }

    section#how-we-do .flow-slider .owl-item.dimmed .flow-navigation {
        width: 125px;
    }
}

@media only screen and (max-width: 425px) {
    section#cover-page .cover-pixel { 
        width: 295px;
        height: 295px;
        padding: 60px 28px 95px 28px;
        margin-left: -147.5px; 
        margin-top: 0;
        top: 180px;

        svg#weCollect { width: 100%; margin-left: 0; }

        > b { font-size: 76px; line-height: 84px; }

        span {
            font-size: 21px;
            line-height: 50px; 
            >  b { font-size: 19px; line-height: 50px; }
        }

        img.scroll-animation { display: none !important; }
    }
}

@media only screen and (max-width: 340px) {
    section#how-we-do .flow-slider .owl-item .flow-label {
        font-size: 30px;
        margin-bottom: 10px;
    }
}