@media (max-width: 1400px) {
    /*	--------------------------------------------
            PANEL VIEW
            --------------------------------------------*/
    .container-fluid.panel-view .col-md-3 .data p, .container-fluid.panel-view .col-md-4 .data p{
        font-size: 25px;
        line-height: 35px;
    }
    .container-fluid.panel-view .col-md-3 .data b, .container-fluid.panel-view .col-md-4 .data b{
        font-size: 25px;
        line-height: 30px
    }

    .container-fluid.panel-view .col-md-3 .data .sub-data .sub-item a, .container-fluid.panel-view .col-md-4 .data .sub-data .sub-item a{
        font-size: 25px;
        line-height: 35px;
        padding-left: 15px;
    }
}

@media (max-width: 1378px) {
    .home-slider{
        .teaser p{
            font-size: 43px;
            line-height: 52px;
        }

    }
}

@media (max-width: 1200px) {
    .main-navigation, .meta-navigation {
        > li, a {
            padding: 0 10px;
        }
    }
    .meta-nav-button {
        padding-left: 30px;
        padding-right: 0;
    }
}

@media (max-width: 1005px) {
    .main-navigation, .meta-navigation, .meta-nav-button {
        display: none;
    }
    .mobile-navigation {
        display: block;
    }
    .share-button {
        position: absolute;
        right: 10px;
        top: 10px;
    }
}

@media (max-width: 976px){
    /*	--------------------------------------------
            CONTENT PAGE
            --------------------------------------------*/
    .content-teaser h2{
        font-size: 73px;
        line-height: 80px;
    }

    .container-fluid.panel-view .col-md-3 .data .sub-data, .container-fluid.panel-view .col-md-4 .data .sub-data {
        max-height: initial !important;
    }

    /*	--------------------------------------------
            HEADER
            --------------------------------------------*/
    .logo-white, .logo-black{
        width: 190px;
    }

    /*	--------------------------------------------
            PANEL VIEW
            --------------------------------------------*/
    .container-fluid.panel-view .col-md-3 .data b, .container-fluid.panel-view .col-md-4 .data b{
        font-size: 38px;
        line-height: 48px
    }
    .container-fluid.panel-view .col-md-3 .data p, .container-fluid.panel-view .col-md-4 .data p{
        font-size: 30px;
    }
    .container-fluid.panel-view .col-md-3 .data .sub-data .sub-item a, .container-fluid.panel-view .col-md-4 .data .sub-data .sub-item a{
        font-size: 35px;
        line-height: 55px;
    }

    /*	--------------------------------------------
            FOOTER
            --------------------------------------------*/
    .footer-map{
        #map{
            height: 1180px;
        }
        .contact-info{
            padding: 100px 30px;
        }
    }

    /*	--------------------------------------------
            HOME
            --------------------------------------------*/
    .home-slider{
        height: 450px;

        .teaser p{
            font-size: 36px;
            line-height: 46px;
        }

    }

    /*  --------------------------------------------
        LISTVIEW PAGE
        --------------------------------------------*/

    body.list-view{
        .tab-content{
            .item{
                width: 30%;
            }
        }
    }

}

@media (max-width: 771px){
    .footer { padding-top: 20px; }

    .footer .row > .col-sm-3 { display: none; }
    .footer .row > div { text-align: center; width: 100%; }
}
@media (max-width: 740px){
    .home-slider .play-button { display: none; }

    .home-slider .videoContainer { display: none; }

    .home-slider .teaser_image { display: block; }
}

@media (max-width: 685px){
    /*	--------------------------------------------
            CONTENT PAGE
            --------------------------------------------*/
    .content-teaser {
        h2{
            font-size: 53px;
            line-height: 60px;
        }
        h3{
            margin-bottom: 60px;

            &:after{
                bottom: -30px;
            }
        }
    }

    .single-view-items img {
        width: 100%;
        margin: 0 auto;
        height: auto;
    }

    .list-view .tab-content .primena.item .itemImage img { margin: 0 auto; }

    .content-right-bar .proizvodi.item, .list-view .tab-content .item {
        min-height: auto;
    }

    .list-view .tab-content .item .itemImage,
    .list-view .tab-content .primena.item .itemImage { height: auto; }

    .list-view .tab-content .item .itemImage img {
        width: 100%;
        height: auto;
    }

    .container-fluid.panel-view .col-md-3 .data b, .container-fluid.panel-view .col-md-4 .data b{
        font-size: 25px;
        line-height: 30px;
    }

    .container-fluid.panel-view .col-md-3 .data p, .container-fluid.panel-view .col-md-4 .data p{
        font-size: 25px;
    }

    .container-fluid.panel-view .col-md-3 .data .sub-data .sub-item a, .container-fluid.panel-view .col-md-4 .data .sub-data .sub-item a{
        font-size: 20px;
        line-height: 30px;
        padding-left: 15px;
    }

    /*  --------------------------------------------
        SINGLEVIEW PAGE
        --------------------------------------------*/
    div.single-view-modal{

        .heading {
            h2{
                font-size: 50px;
                line-height: 55px;
            }
        }
    }
    div.modal-content{
        padding: 70px 20px;

        .close-button{
            right: 5%;
        }
    }

    div.single-view-teaser{
        h2{
            font-size: 53px;
            line-height: 60px;
        }
        h3{
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 90px;
        }
        blockquote p{
            font-size: 115px;
            line-height: 155px;
        }
    }

    /*  --------------------------------------------
        LISTVIEW PAGE
        --------------------------------------------*/

    body.list-view{
        .tab-content{
            .item{
                width: 47%;
            }
        }
    }

    /*	--------------------------------------------
        HOME
        --------------------------------------------*/
    .home-slider{
        .teaser p{
            font-size: 25px;
            line-height: 30px;
        }

    }

    .floating-contact-button { right: 20px; }
}

@media (max-width: 525px){
    /*	--------------------------------------------0
                    CONTENT PAGE
                    --------------------------------------------*/
    .content-teaser {
        h2{
            font-size: 43px;
            line-height: 50px;
        }
    }

    .home-cooperate h3, .footer-map .contact-info b {
        font-size: 32px;
        line-height: 37px;
    }

    .container-fluid.panel-view.split-panel .col-md-3, .container-fluid.panel-view.split-panel .col-md-4 {
        height: 100vh;
    }

    /*	--------------------------------------------
            FOOTER
            --------------------------------------------*/
    .footer-map{
        #map{
            height: 1300px;
        }
        .email-icon{
            margin-top: 15px;
        }
        .phone-number{
            border: none;
        }
    }
    .contact-info{
        padding: 100px 30px 20px 30px;
    }

    div.single-view-modal .heading h2 {
        font-size: 30px;
        line-height: 35px;
    }
}

@media (max-width: 470px){
    body.list-view .tab-content .item {
        width: 97%;
    }

    .container.main-content { overflow: hidden; }

    div.single-view-teaser h2, .content-teaser h2 {
        font-size: 38px;
        line-height: 48px;
    }
}

@media (max-width: 345px){
    div.single-view-teaser h2, .content-teaser h2 {
        font-size: 25px;
        line-height: 30px;
    }
}