@import 'variables';
@import 'mixins';

section#what-we-do {
    .wrapper {
        padding: 130px 0;
        text-align: center;
    }
    article {
        display: inline-block;
        vertical-align: top;
        width: 33.1%;
        padding: 0 3%;

/*        opacity: 0;
        margin-top: -200px;
        margin-bottom: 200px;*/

        .transition(all 1.5s);

        &.active {
            opacity: 1;
            margin-top: 0;
            margin-bottom: 0;

        }
    }
    svg {
        height: 180px;
    }
    h2 {
        margin-bottom: 32px;
    }
    p {
        font-size: 22px;
        line-height: 28px;
    }
}