<div class="modal-header">
    <i class="toolbar-icon icon-control-page"></i>
    <h4>Upravljaj stranicama</h4>
    <button type="button" class="btn btn-default pull-right" ng-click="cancel()">X</button>
</div>

<div class="modal-body" ng-show="view === 'list'">
    <div class="form-group">
        <label for="searchPage">Pretraga</label>
        <input type="text" class="form-control" id="searchPage" ng-model="search.navigation" ng-trim="false">
    </div>
    <ul class="modal-list">
        <li ng-repeat="page in pages| parent | filter:search track by page.id">
            {{page.navigation}}
            <div class="modal-list-actions">
                <span ng-click="_toggle(page, 'show_header')">
                    Zaglavlje (Header):<i class="fa" ng-class="page.show_header === 1 ? 'fa fa-check' : 'fa fa-ban'"></i>
                </span>
                <span ng-click="_toggle(page, 'show_footer')">
                    Podnožje (Footer):<i class="fa" ng-class="page.show_footer === 1 ? 'fa fa-check' : 'fa fa-ban'"></i>
                </span>
                <span ng-click="_toggle(page, 'show_in_navigation')">
                    Prikaži u navigaciji:<i class="fa" ng-class="page.show_in_navigation === 1 ? 'fa fa-check' : 'fa fa-ban'"></i>
                </span>
            </div>
            <div class="modal-list-controls">
                <span ng-click="_update(page)"><i class="fa fa-pencil"></i></span>
                <span ng-click="_delete(page)"><i class="fa fa-trash-o"></i></span>
            </div>
            <ul>
                <li ng-repeat="spage in pages| parent:page.id | filter:search track by spage.id">
                    {{spage.navigation}}
                    <div class="modal-list-actions">
                        <span ng-click="_toggle(spage, 'show_header')">
                            Zaglavlje:<i class="fa" ng-class="spage.show_header === 1 ? 'fa fa-check' : 'fa fa-ban'"></i>
                        </span>
                        <span ng-click="_toggle(spage, 'show_footer')">
                            Podnožje:<i class="fa" ng-class="spage.show_footer === 1 ? 'fa fa-check' : 'fa fa-ban'"></i>
                        </span>
                        <span ng-click="_toggle(spage, 'show_in_navigation')">
                            U navigaciji:<i class="fa" ng-class="spage.show_in_navigation === 1 ? 'fa fa-check' : 'fa fa-ban'"></i>
                        </span>
                    </div>    
                    <div class="modal-list-controls">
                        <span ng-click="_update(spage)"><i class="fa fa-pencil"></i></span>
                        <span ng-click="_delete(spage)"><i class="fa fa-trash-o"></i></span>
                    </div>    
                </li>
            </ul>
        </li>
    </ul>
</div>

<div class="modal-body" ng-show="view === 'add'">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="pageParent">Povezana strana</label>
                <div class="dropdown">
                    <button class="btn btn-default btn-block dropdown-toggle" type="button" data-toggle="dropdown">
                        {{page.parent.navigation|| 'Please select'}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="ppage in pages track by ppage.id">
                            <a ng-click="page.parent = ppage">{{ppage.navigation}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="pageName">Ime</label>
                <input type="text" class="form-control" id="pageName" ng-change="validate(page.name)" ng-model="page.name" ng-trim="false">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="pageTemplate">Šablon</label>
                <div class="dropdown">
                    <button class="btn btn-default btn-block dropdown-toggle" type="button" data-toggle="dropdown">
                        {{page.template|| 'Please select'}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="(key, val) in templates">
                            <a ng-click="page.template = val">{{key}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="pageTitle">Naslov (Title)</label>
                <input type="text" class="form-control" id="pageTitle" ng-model="page.title">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="pageNavName">Ime navigacije</label>
                <input type="text" class="form-control" id="pageNavName" ng-model="page.navigation">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="pageDescription">Opis (Description)</label>
                <textarea class="form-control" id="pageDescription" ng-model="page.description" maxlength="160"></textarea>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="item-image">Slika</label>
                <div np-pick-image id="item-image" class="pick-image" ng-model="page.image" ng-click="openModal()">
                    <img ng-if="page.image" src="{{server_url + page.image.url}}" />
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group" np-single-image-upload data-upload="uploadImage"></div>
        </div>
        <div class="col-md-4">
            <div class="checkbox">
                <label><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="page.show_header" ng-checked="page.show_header || true"> Show Header</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="checkbox">
                <label><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="page.show_navigation" ng-checked="page.show_header || true"> Show Navigation</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="checkbox">
                <label><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="page.show_footer" ng-checked="page.show_header || true"> Show Footer</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="checkbox">
                <label><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="page.show_in_navigation" ng-checked="page.show_header || true"> Show in navigation</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="checkbox">
                <label><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="page.visible" ng-checked="page.show_header || true"> Show page</label>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer" ng-show="view === 'list'">
    <button type="button" class="btn btn-ninepixels" ng-click="addPage()">Dodaj stranu</button>
</div>

<div class="modal-footer" ng-show="view === 'add'">
    <button type="button" class="btn btn-ninepixels" ng-click="save(page)">Sačuvaj</button>
</div>