<div class="modal-header">
    <i class="toolbar-icon icon-control-page"></i>
    <h4>Upravljaj stranicama</h4>
    <button type="button" class="btn btn-default pull-right" ng-click="pageCtrl.cancel()">X</button>
</div>

<div class="modal-body" ng-show="view === 'list'">
    <label for="searchPage">Pretraga</label>
    <div class="row">
        <div class="col-md-9 form-group">
            <input type="text" class="form-control" id="searchPage" ng-model="search.navigation" ng-trim="false">
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-ninepixels" ng-click="pageCtrl.addPage()">Dodaj stranu</button>
        </div>
    </div>
    <ul class="modal-list">
        <li ng-repeat="page in pages| parent | filter:search | orderBy: 'id' track by page.id">
            {{page.navigation}}
            <div class="modal-list-actions">
                <span ng-click="pageCtrl._toggle(page, 'show_header')">
                    Header:<i class="fa" ng-class="page.show_header === 1 ? 'fa fa-check' : 'fa fa-ban'"></i>
                </span>
                <span ng-click="pageCtrl._toggle(page, 'show_footer')">
                    Footer<i class="fa" ng-class="page.show_footer === 1 ? 'fa fa-check' : 'fa fa-ban'"></i>
                </span>
                <span ng-click="pageCtrl._toggle(page, 'show_in_navigation')">
                    In nav:<i class="fa" ng-class="page.show_in_navigation === 1 ? 'fa fa-check' : 'fa fa-ban'"></i>
                </span>
            </div>
            <div class="modal-list-controls">
                <span ng-click="pageCtrl._update(page)"><i class="fa fa-pencil"></i></span>
                <span ng-click="pageCtrl._delete(page)"><i class="fa fa-trash-o"></i></span>
            </div>
            <ul>
                <li ng-repeat="spage in pages| parent:page.id | orderBy: 'id' track by spage.id">
                    {{spage.navigation}}
                    <div class="modal-list-actions">
                        <span ng-click="pageCtrl._toggle(spage, 'show_header')">
                            Header:<i class="fa" ng-class="spage.show_header === 1 ? 'fa fa-check' : 'fa fa-ban'"></i>
                        </span>
                        <span ng-click="pageCtrl._toggle(spage, 'show_footer')">
                            Footer<i class="fa" ng-class="spage.show_footer === 1 ? 'fa fa-check' : 'fa fa-ban'"></i>
                        </span>
                        <span ng-click="pageCtrl._toggle(spage, 'show_in_navigation')">
                            In nav:<i class="fa" ng-class="spage.show_in_navigation === 1 ? 'fa fa-check' : 'fa fa-ban'"></i>
                        </span>
                    </div>
                    <div class="modal-list-controls">
                        <span ng-click="pageCtrl._update(spage)"><i class="fa fa-pencil"></i></span>
                        <span ng-click="pageCtrl._delete(spage)"><i class="fa fa-trash-o"></i></span>
                    </div>
                    <ul>
                        <li ng-repeat="sspage in pages| parent:spage.id | orderBy: 'id' track by sspage.id">
                            {{sspage.navigation}}
                            <div class="modal-list-actions">
                                <span ng-click="pageCtrl._toggle(sspage, 'show_header')">
                                    Header:<i class="fa" ng-class="sspage.show_header === 1 ? 'fa fa-check' : 'fa fa-ban'"></i>
                                </span>
                                <span ng-click="pageCtrl._toggle(sspage, 'show_footer')">
                                    Footer<i class="fa" ng-class="sspage.show_footer === 1 ? 'fa fa-check' : 'fa fa-ban'"></i>
                                </span>
                                <span ng-click="pageCtrl._toggle(sspage, 'show_in_navigation')">
                                    In nav:<i class="fa" ng-class="sspage.show_in_navigation === 1 ? 'fa fa-check' : 'fa fa-ban'"></i>
                                </span>
                            </div>
                            <div class="modal-list-controls">
                                <span ng-click="pageCtrl._update(sspage)"><i class="fa fa-pencil"></i></span>
                                <span ng-click="pageCtrl._delete(sspage)"><i class="fa fa-trash-o"></i></span>
                            </div>
                            <ul>
                                <li ng-repeat="ssspage in pages| parent:sspage.id | orderBy: 'id' track by ssspage.id">
                                    {{ssspage.navigation}}
                                    <div class="modal-list-actions">
                                        <span ng-click="pageCtrl._toggle(ssspage, 'show_header')">
                                            Header:<i class="fa" ng-class="ssspage.show_header === 1 ? 'fa fa-check' : 'fa fa-ban'"></i>
                                        </span>
                                        <span ng-click="pageCtrl._toggle(ssspage, 'show_footer')">
                                            Footer<i class="fa" ng-class="ssspage.show_footer === 1 ? 'fa fa-check' : 'fa fa-ban'"></i>
                                        </span>
                                        <span ng-click="pageCtrl._toggle(ssspage, 'show_in_navigation')">
                                            In nav:<i class="fa" ng-class="ssspage.show_in_navigation === 1 ? 'fa fa-check' : 'fa fa-ban'"></i>
                                        </span>
                                    </div>
                                    <div class="modal-list-controls">
                                        <span ng-click="pageCtrl._update(ssspage)"><i class="fa fa-pencil"></i></span>
                                        <span ng-click="pageCtrl._delete(ssspage)"><i class="fa fa-trash-o"></i></span>
                                    </div>
                                    <ul>
                                        <li ng-repeat="sssspage in pages| parent:ssspage.id | orderBy: 'id' track by sssspage.id">
                                            {{sssspage.navigation}}
                                            <div class="modal-list-actions">
                                                <span ng-click="pageCtrl._toggle(sssspage, 'show_header')">
                                                    Header:<i class="fa" ng-class="sssspage.show_header === 1 ? 'fa fa-check' : 'fa fa-ban'"></i>
                                                </span>
                                                <span ng-click="pageCtrl._toggle(sssspage, 'show_footer')">
                                                    Footer<i class="fa" ng-class="sssspage.show_footer === 1 ? 'fa fa-check' : 'fa fa-ban'"></i>
                                                </span>
                                                <span ng-click="pageCtrl._toggle(sssspage, 'show_in_navigation')">
                                                    In nav:<i class="fa" ng-class="sssspage.show_in_navigation === 1 ? 'fa fa-check' : 'fa fa-ban'"></i>
                                                </span>
                                            </div>
                                            <div class="modal-list-controls">
                                                <span ng-click="pageCtrl._update(sssspage)"><i class="fa fa-pencil"></i></span>
                                                <span ng-click="pageCtrl._delete(sssspage)"><i class="fa fa-trash-o"></i></span>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>

<div class="modal-body" ng-show="view === 'add'">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="pageParent">Povezana strana</label>
                <div class="dropdown">
                    <button class="btn btn-default btn-block dropdown-toggle" type="button" data-toggle="dropdown">
                        {{page.parent.navigation|| 'Please select'}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="ppage in pages track by ppage.id">
                            <a ng-click="page.parent = ppage">
                                {{pageCtrl._printPageName(ppage)}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="pageName">Ime</label>
                <input type="text" class="form-control" id="pageName" ng-change="pageCtrl.validate(page.name)" ng-model="page.name" ng-trim="false">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="pageTemplate">Šablon</label>
                <div class="dropdown">
                    <button class="btn btn-default btn-block dropdown-toggle" type="button" data-toggle="dropdown">
                        {{page.template|| 'Please select'}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="(key, val) in templates">
                            <a ng-click="page.template = val">{{key}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="pageTitle">Naslov (Title)</label>
                <input type="text" class="form-control" id="pageTitle" ng-model="page.title">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="pageNavName">Ime navigacije</label>
                <input type="text" class="form-control" id="pageNavName" ng-model="page.navigation">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="pageDescription">Opis (Description)</label>
                <textarea class="form-control" id="pageDescription" ng-model="page.description" maxlength="512"></textarea>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="item-image">Slika</label>
                <div np-pick-image id="item-image" class="pick-image" ng-model="page.image" ng-click="openModal()">
                    <img ng-if="page.image" src="{{server_url + page.image.url}}" />
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="item-image">Galerija</label>
                <div class="dropdown">
                    <button class="btn btn-default btn-block dropdown-toggle" type="button" data-toggle="dropdown">
                        {{page.gallery.name|| 'Please select'}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="gallery in galleries | orderBy: '-id'">
                            <a ng-click="page.gallery = gallery">{{gallery.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="pageOrder">Redosled</label>
                <input type="number" class="form-control" id="pageOrder" ng-model="page.position">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group" np-single-image-upload data-upload="uploadImage"></div>
        </div>
        <div class="col-md-4">
            <div class="checkbox">
                <label><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="page.show_header" ng-checked="page.show_header"> Show Header</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="checkbox">
                <label><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="page.show_navigation" ng-checked="page.show_navigation"> Show Navigation</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="checkbox">
                <label><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="page.show_footer" ng-checked="page.show_footer"> Show Footer</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="checkbox">
                <label><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="page.show_in_navigation" ng-checked="page.show_in_navigation"> Show in navigation</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="checkbox">
                <label><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="page.visible" ng-checked="page.visible"> Show page</label>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer" ng-show="view === 'add'">
    <button type="button" class="btn btn-ninepixels" ng-click="pageCtrl.save(page)">Sačuvaj</button>
</div>