<div class="init-upload" ng-if="!uploader.queue.length" nv-file-drop uploader="uploader">
    <span>{{ 'Prevuci fajl'}}</span>
    <span class="or-label">{{'ili'}}</span>
    <label for="input-file-upload" class="btn btn-ninepixels">Izaberite fajlove sa računara</label>
    <input type="file" id="input-file-upload" nv-file-select="" uploader="uploader" class="hide" multiple/>
</div>

<table class="table" ng-if="uploader.queue.length">
    <thead>
        <tr>
            <th width="50%">Ime</th>
            <th ng-show="uploader.isHTML5">Veličina</th>
            <th ng-show="uploader.isHTML5">Napredak</th>
            <th>Status</th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in uploader.queue">
            <td><strong>{{ item.file.name}}</strong></td>
            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size / 1024 / 1024|number:2 }} MB</td>
            <td ng-show="uploader.isHTML5">
                <div class="progress" style="margin-bottom: 0;">
                    <div class="progress-bar" role="progressbar" ng-style="{'width': item.progress + '%' }"></div>
                </div>
            </td>
            <td class="text-center">
                <span ng-show="item.isSuccess"><i class="fa fa-check"></i></span>
                <span ng-show="item.isCancel"><i class="fa fa-ban"></i></span>
                <span ng-show="item.isError"><i class="fa fa-times"></i></span>
            </td>
            <td nowrap>
                <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                    <span class="fa fa-ban"></span> {{'Otkaži'}}
                </button>
                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                    <span class="fa fa-trash-o"></span> {{'Obriši'}}
                </button>
            </td>
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" ng-model="additional.title">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="alt">Alt</label>
            <input type="text" class="form-control" id="alt" ng-model="additional.alt">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="gallery">Galerija</label>
            <div class="dropdown">
                <button class="btn btn-default btn-block dropdown-toggle" type="button" data-toggle="dropdown">
                    {{additional.gallery.name|| 'Please select'}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="gallery in galleries track by gallery.id">
                        <a ng-click="pickGallery(gallery)">{{gallery.name}}</a>
                    </li>
                    <li class="separate-line"><a class="btn-action" ng-click="addGallery()">Dodaj novu galeriju</a>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="alt">Description</label>
            <textarea class="form-control" id="pageDescription" ng-model="additional.description"></textarea>
        </div>
    </div>
</div>

<button class="btn btn-ninepixels" ng-click="uploader.uploadAll()" ng-if="uploader.queue.length">Uploaduj sve</button>