<div class="modal-header">
    <h4>{{!edit ? 'Dodaj artikal' : 'Izmeni artikal'}}</h4>
    <button type="button" class="btn pull-right" ng-click="cancel()">X</button>
</div>

<div class="modal-body">
    <div class="form-group medium-editor">
        <div np-html-editor ng-model="item.structure"></div>
    </div>

    <div class="form-group">
        <label for="item-classes">Dodatne klase / Tab</label>
        <input type="text" class="form-control" ng-model="item.classes" id="item-classes">
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-ninepixels" ng-click="save(item)">Sačuvaj</button>
</div>