<div class="modal-header">
    <h4>Izaberite sliku</h4>
    <button type="button" class="btn btn-default pull-right" ng-click="cancel()">X</button>
</div>

<div class="modal-body">
    <div class="ninepixels_gallery-holder ninepixels_remove-image" ng-if="!galleryItems" ng-click="choose('')">
        <i class="fa fa-ban"></i>Poništi izabrano
    </div>

    <div class="ninepixels_gallery-album" ng-if="!galleryItems" ng-repeat="gallery in galleries" ng-click="pickGallery(gallery)">
        <img ng-repeat="pGallery in filteredGallery[gallery.id]| limitTo:4" src="{{server_url + pGallery.url}}">
        <label>{{ gallery.name}}</label>
    </div>

    <div class="ninepixels_gallery-holder ninepixels_remove-image" ng-if="galleryItems" ng-click="pickGallery('')">
        <i class="fa fa-ban"></i>Vrati se nazad
    </div>

    <div class="ninepixels_gallery" ng-if="galleryItems">
        <div class="ninepixels_gallery-item" ng-repeat="image in galleryItems" ng-click="choose(image)">
            <img src="{{server_url + image.url}}" alt="">
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-ninepixels" ng-click="cancel()">Zatvori</button>
</div>