<div class="holding-container"></div>

<div class="toolbar-container">
    <div class="user-info pull-left">
        <div class="user">{{user.username}}</div>
    </div>

    <div class="btn-group" ng-controller="npPageController as page">
        <button class="btn btn-toolbar" ng-click="page.manage()">
            <i class="toolbar-icon icon-control-page"></i>Stranice
        </button>
    </div>

    <div class="btn-group" ng-controller="npUsersController as user">
        <button class="btn btn-toolbar" ng-click="user.manage()">
            <i class="toolbar-icon icon-control-users"></i>Korisnici
        </button>
    </div>

    <div class="dropdown-toolbar dropdown" ng-controller="npAssetsCtrl as assets">
        <button class="btn btn-toolbar dropdown-toggle" type="button" data-toggle="dropdown">
            <i class="toolbar-icon icon-content"></i>Sadržaj <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#" ng-click="assets.galleries()">Galerija</a></li>
            <li><a href="#" ng-controller="npBlogCtrl as blog" ng-click="blog.manage()">Blog</a></li>
            <li><a href="#" ng-controller="npProductsCtrl as product" ng-click="product.manage()">Proizvodi</a></li>
            <li><a href="#" ng-click="assets.components()">Komponente</a></li>
            <li><a href="#" ng-click="assets.locales()">Lokalizacija</a></li>
            <li><a href="#" ng-controller="npSettingsCtrl as settings" ng-click="settings.manage()">Podešavanja</a></li>
        </ul>
    </div>

    <div class="btn-group pull-right">
        <button class="btn btn-toolbar" ng-click="reload()">
            Osveži stranu
        </button>
        <button class="btn btn-toolbar" ng-click="logout()">
            <i class="toolbar-icon icon-log-out"></i>Odjavljivanje
        </button>
    </div>
</div>